.wordWrap .diff-line-code {
  white-space: normal;
}

.container.large {
  width: 95%;
}

#wordWrap,
#sideBySide {
  margin-left: 5px;
}

#wordWrapLabel,
#sideBySideLabel {
  margin-left: 15px;
}

.new-number {
  border-left: 1px solid #ddd;
}

.gd .diff-line-num.nd {
  background-color: white;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.gi .diff-line-num.nd {
  background-color: white;
  border-right: 1px solid #e5e5e5;
}

.gd .diff-line-code.nd,
.gi .diff-line-code.nd {
  background-color: white;
}

#files .show-lines td {
  text-align: center;
  border-top: 1px solid #cca;
  border-bottom: 1px solid #cca;
  background-color: #ffe;
  padding: 1em 0;
}

#files .show-lines.first td {
  border-top: 0;
}

#files .show-lines.last td {
  border-bottom: 0;
}

.inline-comments:not(.show) {
  display: none !important;
}

.inline-comments .placeholder {
  background-color: white;
}

.empty-num, .empty-line {
  background-color: white;
}

.sideBySide .file-diff td {
  border-right: 1px solid #e5e5e5;
}

.sideBySide .file-diff td:nth-child(1),
.sideBySide .file-diff td:nth-child(3) {
  text-align: right;
  background: #eee;
  border-right: 1px solid #ccc;
  padding: 2px 6px 0 0;
  min-width: 35px;
  max-width: 5%;
}

.sideBySide .file-diff td {
  word-break: break-all;
  word-wrap: break-word;
}

.sideBySide .file-diff td:nth-child(2) {
  width: 45%;
}

.sideBySide .file-diff td:last-child {
  width: 45%;
  border-right: 0;
}

.diff-line-code {
  position: relative;
}

.diff-line-code .add-line-comment {
  position: absolute;
  background-color: #f8eec7;
  left: 27px;
  width: 14px;
}

.file-diff .file-diff-line .diff-line-num {
  color: rgba(0, 0, 0, 0.3);
}

#files .file-diff-line,
#files .diff-line-code {
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 10px;
}

#files .show-lines {
  font-size: 12px;
}
